.logo {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: inherit;

  & a {
    display: block;
    height: 0.853rem;
    color: white;
    font-size: 0.256em;
    line-height: 0.853rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  & .link-active {
    color: white;
  }
}
